name: Quality Check

on:
  pull_request:
    branches: [main]

jobs:
  test-and-check-coverage:
    runs-on: ubuntu-latest
    env:
      TESTCONTAINERS_RYUK_DISABLED: true
      TESTCONTAINERS_CHECKS_DISABLE: true
      TESTCONTAINERS_LOG_LEVEL: DEBUG
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Docker test
        run: docker info

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Run Checkstyle
        run: ./gradlew checkstyleMain checkstyleTest

      - name: Run tests and generate coverage report
        run: ./gradlew clean test jacocoTestReport

      - name: Install diff-cover
        run: pip install diff-cover

      - name: Check coverage on changed lines (must be >= 80%)
        run: |
          git fetch origin main
          diff-cover --fail-under=80 \
            build/reports/jacoco/test/jacocoTestReport.xml \
            --compare-branch=origin/main